@import url('./reset.css');

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,400;1,1000&display=swap');

*{
    font-family: 'Raleway','Nunito' ,Arial;
}

body {
    display: flex;
    width: 1440px;
    margin-left: 50%;
    background-color: #030608;
    height: 100%;
    transform: translateX(-50%);
    flex-direction: column;
    color: #fff;
}

header {
font-family: 'Raleway';
background-image:  linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)),
    url("../assets/images/banner.png");
padding: 50px;
background-size: cover;
background-position: center;
border-bottom: solid #1472B7;
height: 605px;

}

.banner-content{

    padding: 30px;
    width: 510px;
    height: 393px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    margin-left: 50%;
    transform: translateX(-50%);
    

}

.banner-content h1{
    font-size: 40px;
    font-weight: 900;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%) ;
    -webkit-background-clip: text; /* Para navegadores baseados em WebKit (Chrome, Safari) */
    color: transparent;

}

.banner-content p {
    text-align: center;
    margin: 30px 0px 30px 0px;
    font-size: 20px;
    font-weight: lighter;
    line-height: 23.48px;
    letter-spacing: 30%;
    width: 510px;
    height: 46px;


}

.banner-content button {
    margin-top: 20px;
    gap: 16px;
    text-transform: uppercase;
    height: 57px;
    width: 326px;
    padding:20px;
    background: none ;
    border: none;
    border:  2px solid transparent ;
    border-image:  linear-gradient(180deg, #33A8DB 0%, #1472B7 100%) 1;
    color: #1472B7;
    font-weight: 900;
    font-size: 16px;
    line-height: 18.78px;
    cursor: pointer;
    
}

.banner-content button:hover{
  
    box-shadow: -2px 6px 4px 0px #0981b4af inset;


}


/*main content*/
main {
    text-align: center;
    padding: 20px;

}


h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;
    letter-spacing: 19%;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%) ;
    -webkit-background-clip: text; 
    color: transparent;

}

#course-content{
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    text-align: center;
    width: 792px ;
    height: 325px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}


#course-content p{

    text-align: center;
    line-height: 37.57px;
    letter-spacing: 19%;
    font-weight: lighter;

}


#course-content .modules-list{
display: flex;

flex-direction: column;
justify-content: space-between;
}

.modules-list div{
    align-self: flex-start;
    width: 535px;
    margin-top: 20px;
    padding: 12px;
    background-color: #252525;
    /*border-image:  linear-gradient(180deg, #33A8DB 0%, #1472B7 100%) 1;*/
    box-sizing: border-box;

    border: 1px solid #33A8DB; /* Cor da borda azul */
    border-radius: 57px; /* Raio da borda arredondada */

    box-shadow: -2px 6px 4px 0px #29262666 inset;

}

.modules-list div:hover{

    box-shadow: -2px 6px 4px 0px #e7e4e48e inset;
}

.modules-list div span {
    color: #33A8DB;
}
